In [1]:
import pandas as pd

In [52]:
Elo=pd.read_csv('../data/Elo_data_from2014_to2019_real.csv', encoding='euc-kr')

In [53]:
all_data=pd.read_csv('../data/merge_data_test2.csv', encoding='euc-kr')

In [54]:
Elo.iloc[:,0]

0      Barcelona
1      RBLeipzig
2     RealMadrid
3        ParisSG
4        ManCity
5       Dortmund
6      Tottenham
7       Atalanta
8       Valencia
9        Chelsea
10        Bayern
11        Napoli
12          Lyon
13      Juventus
14      Atletico
15     Liverpool
Name: team, dtype: object

In [55]:
all_data.iloc[:,0]

0      RBLeipzig
1     RealMadrid
2        ParisSG
3        ManCity
4       Dortmund
5      Tottenham
6       Atalanta
7       Valencia
8        Chelsea
9         Bayern
10        Napoli
11     Barcelona
12          Lyon
13      Juventus
14      Atletico
15     Liverpool
Name: team, dtype: object

In [56]:
save=pd.merge(Elo, all_data, on='team')

In [57]:
save.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 0 to 15
Columns: 138 entries, team to 2018_결실점
dtypes: float64(59), int64(78), object(1)
memory usage: 17.4+ KB

In [62]:
save.to_csv( '../data/Elo_all_14to18(jjin).csv', sep=',', encoding='euc-kr' )

In [63]:
save

,team,Elo_2014,Elo_2015,Elo_2016,Elo_2017,Elo_2018,Elo_2019,Elo_2020,2014_득점,2014_실점,...,2018_8어웨이득점,2018_8어웨이실점,2018_4득점,2018_4실점,2018_4홈득점,2018_4홈실점,2018_4어웨이득점,2018_4어웨이실점,2018_결득점,2018_결실점
0,Barcelona,2023.496398,2057.412832,2053.108070,2019.941732,2029.962260,2002.559819,1968.160767,15,5,...,1.0,0.0,3.0,4.0,3.0,0.0,0.0,4.0,0.0,0.0
1,RBLeipzig,1439.176985,1476.252716,1605.082893,1708.091552,1708.708776,1777.771823,1814.504968,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,RealMadrid,2056.538702,2054.278139,2048.936085,2047.364041,1995.996024,1874.416662,1902.399182,16,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ParisSG,1859.954469,1864.813026,1888.411422,1890.448508,1899.095539,1861.699558,1878.772717,10,7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ManCity,1937.135403,1886.149532,1858.716655,1888.852156,1978.532102,2009.882528,1989.357354,9,8,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Dortmund,1876.071767,1808.659152,1863.716256,1840.034553,1778.247457,1820.196781,1819.949393,14,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,Tottenham,1790.059165,1746.540066,1813.415023,1876.204994,1913.637174,1879.218735,1821.436117,0,0,...,3.0,4.0,3.0,3.0,0.0,1.0,3.0,2.0,0.0,2.0
7,Atalanta,1580.576180,1589.807175,1597.361708,1700.091459,1725.817114,1730.123493,1772.467079,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,Valencia,1798.025672,1860.451742,1741.813760,1721.514619,1783.997835,1803.609719,1808.782288,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,Chelsea,1930.234937,1858.527720,1812.347578,1901.173692,1860.556193,1859.853144,1840.971422,17,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,Bayern,2060.823209,2011.242453,2008.224783,1978.954827,1953.571001,1938.433185,1940.595139,16,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,Napoli,1768.893182,1777.679260,1809.218866,1857.331177,1863.916973,1813.527848,1747.823299,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,Lyon,1688.789094,1723.389070,1690.295553,1727.135841,1748.240307,1715.984295,1689.136166,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,Juventus,1890.405501,1906.372847,1921.533162,1944.510877,1973.160709,1910.337369,1901.424231,7,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Atletico,1952.400643,1948.936560,1979.687638,1940.533995,1930.054922,1886.226539,1846.231223,14,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,Liverpool,1857.413953,1765.388667,1793.565678,1838.662346,1921.199074,2008.999638,2079.801318,5,9,...,4.0,1.0,4.0,3.0,4.0,0.0,0.0,3.0,2.0,0.0

In [60]:
%matplotlib inline
import matplotlib.pyplot as plt

In [22]:
save.corr(method='pearson')

,Elo_2014,Elo_2015,Elo_2016,Elo_2017,Elo_2018,Elo_2019,Elo_2020,2014_득점,2014_실점,2014_홈득점,...,2018_8어웨이득점,2018_8어웨이실점,2018_4득점,2018_4실점,2018_4홈득점,2018_4홈실점,2018_4어웨이득점,2018_4어웨이실점,2018_결득점,2018_결실점
Elo_2014,1.000000,0.963768,0.928121,0.888879,0.852387,0.694495,0.560462,0.820919,0.524480,0.767606,...,0.030683,-0.036281,0.134693,0.183615,0.201839,-0.081691,-0.081691,0.213850,0.025677,-0.081691
Elo_2015,0.963768,1.000000,0.938050,0.865983,0.827940,0.602471,0.455832,0.765130,0.400978,0.720686,...,-0.096221,-0.140284,0.059335,0.151965,0.154152,-0.140921,-0.140921,0.191568,-0.108566,-0.140921
Elo_2016,0.928121,0.938050,1.000000,0.957148,0.875007,0.656771,0.506398,0.808123,0.436723,0.764831,...,-0.013181,-0.056167,0.141148,0.233216,0.187147,-0.046415,-0.046415,0.260216,-0.084520,-0.046415
Elo_2017,0.888879,0.865983,0.957148,1.000000,0.912348,0.683900,0.534410,0.808749,0.427492,0.774952,...,0.053812,0.035359,0.193580,0.277359,0.195662,0.034470,0.034470,0.291637,-0.059424,0.034470
Elo_2018,0.852387,0.827940,0.875007,0.912348,1.000000,0.859942,0.706453,0.615066,0.573272,0.589787,...,0.265228,0.210017,0.393525,0.447847,0.372648,0.110462,0.110462,0.460003,0.130901,0.110462
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018_4홈실점,-0.081691,-0.140921,-0.046415,0.034470,0.110462,0.040448,-0.109226,-0.296894,-0.264340,-0.292390,...,0.547683,0.943456,0.461968,0.461968,-0.103616,1.000000,1.000000,0.298300,-0.071429,1.000000
2018_4어웨이득점,-0.081691,-0.140921,-0.046415,0.034470,0.110462,0.040448,-0.109226,-0.296894,-0.264340,-0.292390,...,0.547683,0.943456,0.461968,0.461968,-0.103616,1.000000,1.000000,0.298300,-0.071429,1.000000
2018_4어웨이실점,0.213850,0.191568,0.260216,0.291637,0.460003,0.589964,0.545545,0.041228,0.350457,-0.026837,...,0.759468,0.385668,0.944950,0.984323,0.874271,0.298300,0.298300,1.000000,0.511372,0.298300
2018_결득점,0.025677,-0.108566,-0.084520,-0.059424,0.130901,0.423098,0.597640,-0.104937,0.528681,-0.089966,...,0.769716,0.157243,0.659955,0.461968,0.784518,-0.071429,-0.071429,0.511372,1.000000,-0.071429
2018_결실점,-0.081691,-0.140921,-0.046415,0.034470,0.110462,0.040448,-0.109226,-0.296894,-0.264340,-0.292390,...,0.547683,0.943456,0.461968,0.461968,-0.103616,1.000000,1.000000,0.298300,-0.071429,1.000000

In [64]:
Elo_1=save.iloc[:,:7]

In [65]:
Elo_1

,team,Elo_2014,Elo_2015,Elo_2016,Elo_2017,Elo_2018,Elo_2019
0,Barcelona,2023.496398,2057.412832,2053.108070,2019.941732,2029.962260,2002.559819
1,RBLeipzig,1439.176985,1476.252716,1605.082893,1708.091552,1708.708776,1777.771823
2,RealMadrid,2056.538702,2054.278139,2048.936085,2047.364041,1995.996024,1874.416662
3,ParisSG,1859.954469,1864.813026,1888.411422,1890.448508,1899.095539,1861.699558
4,ManCity,1937.135403,1886.149532,1858.716655,1888.852156,1978.532102,2009.882528
5,Dortmund,1876.071767,1808.659152,1863.716256,1840.034553,1778.247457,1820.196781
6,Tottenham,1790.059165,1746.540066,1813.415023,1876.204994,1913.637174,1879.218735
7,Atalanta,1580.576180,1589.807175,1597.361708,1700.091459,1725.817114,1730.123493
8,Valencia,1798.025672,1860.451742,1741.813760,1721.514619,1783.997835,1803.609719
9,Chelsea,1930.234937,1858.527720,1812.347578,1901.173692,1860.556193,1859.853144
10,Bayern,2060.823209,2011.242453,2008.224783,1978.954827,1953.571001,1938.433185
11,Napoli,1768.893182,1777.679260,1809.218866,1857.331177,1863.916973,1813.527848
12,Lyon,1688.789094,1723.389070,1690.295553,1727.135841,1748.240307,1715.984295
13,Juventus,1890.405501,1906.372847,1921.533162,1944.510877,1973.160709,1910.337369
14,Atletico,1952.400643,1948.936560,1979.687638,1940.533995,1930.054922,1886.226539
15,Liverpool,1857.413953,1765.388667,1793.565678,1838.662346,1921.199074,2008.999638